.Footer {
	border-top: 1.02px solid #1d293d;
	padding: 100px 0;
	background: #1a1a1a;
	color: var(--belvy);

	.nav {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 45px;
	}

	.logo {
		font-family: var(--third-family);
		font-weight: 400;
		font-size: 20px;
		line-height: 180%;
		text-transform: uppercase;
		color: var(--belvy);
		margin-bottom: 20px;
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.logo {
		font-family: var(--third-family);
		font-weight: 400;
		font-size: 20px;
		line-height: 180%;
		text-transform: uppercase;
		color: var(--belvy);
		margin-bottom: 20px;
	}

	.subtitle {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 163%;
		color: #62748e;
		max-width: 230px;
	}

	.innerTitle {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		color: var(--belvy);
		margin-bottom: 10px;
	}

	.link {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: #90a1b9;
	}

	.socialWrapper {
		display: flex;
		align-items: center;

		gap: 10px;
	}

	.social {
		display: inline-block;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background: #1d293d;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 500px) {
	.Footer {
		.nav {
			flex-direction: column;
		}
	}
}
